<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
 
    <!-- Console Appender -->
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
    </Console>
 
    <!-- File Appender -->
    <File name="File" fileName="logs/hibernateStatus.log">
      <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
    </File>

    <File name="SQL" fileName="logs/hibernateSQL.log">
        <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
      </File>
     
  </Appenders>
  <Loggers>
    <!-- Log everything in hibernate -->
    <Logger name="org.hibernate" level="error" additivity="false">
      <AppenderRef ref="File" />
    </Logger>
 
     <!--Log SQL statements -->
    <Logger name="org.hibernate.SQL" level="debug" additivity="false">
      <AppenderRef ref="SQL" />
    </Logger> 

    <!-- Log SQL Detailed statements -->
    <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace" additivity="false">
        <AppenderRef ref="SQL" />
      </Logger>

    <Root level="error">
     <!-- <AppenderRef ref="Console" /> -->
      <AppenderRef ref="File" />
    </Root>
  </Loggers>
</Configuration>